/* about.component.scss */

.about {
    background-color: #fff;
    color: #333;
    padding: 4rem 0;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  