<!-- about.component.html -->

<section id="about" class="about" >
    <div class="container">
      <h2>About the Architect</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam vitae ligula quis nisi aliquam bibendum non a orci.
        In hac habitasse platea dictumst. Duis sit amet velit ac nisi ultricies
        condimentum. Sed laoreet tortor in convallis cursus. Sed tristique
        consequat turpis, eget laoreet dui accumsan non. Suspendisse eu
        scelerisque ipsum. Sed nec ligula nec tellus eleifend malesuada.
      </p>
    </div>
  </section>
  