
<div>

</div>


 <!-- app.component.html -->

<div class="content">
    <!-- Navigation Links -->
<nav>
  <div class="logo">Architect's Name</div>
  <div class="separator"></div>
  <ul>
    <!-- Use the [pageScroll] directive with the section's ID as the target -->
    <li><a pageScroll href="#hero" page-scroll-retain-position="true">Home</a></li>
    <li><a pageScroll href="#about" page-scroll-retain-position="true">About</a></li>
    <li><a pageScroll href="#portfolio" page-scroll-retain-position="true">Portfolio</a></li>
    <li><a pageScroll href="#services" page-scroll-retain-position="true">Services</a></li>
    <li><a pageScroll href="#contact" page-scroll-retain-position="true">Contact</a></li>
    <li><a pageScroll href="#testimonials" page-scroll-retain-position="true">Testimonials</a></li>
  </ul>
</nav>
    <!-- Content of the current route will be rendered here -->
    <router-outlet></router-outlet>
  <!-- Your main page content goes here -->
  <!-- For example, <router-outlet></router-outlet> to render components based on routing -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="social-media">
          <a href="#" target="_blank" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" target="_blank" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <!-- Add more social media icons as needed -->
        </div>
        <div class="logo">
          <img src="assets\img\architecture-logo.jpg" alt="Architect's Logo">
        </div>
      </div>
      <div class="footer-links">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/contact">Contact</a>
        <a routerLink="/testimonials">Testimonials</a>
      </div>
    </div>
  </footer>
</div>
